<div class="col-10 offset-1 about">
    <h1>About Splurty</h1>
</div>

 <p>
    Splurty was built by <a target="_blank" href="http://github.com/gonzo1776">Mark Gonzales</a>. He is currently a student working towards becoming a web developer through the UC Berkeley Extension Coding Bootcamp.
  </p>
    <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
<br/>
<br/>


   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'babypic.jpg', class: 'img-fluid', :size => '250x180' %>
    </div>
    <br />

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Mark Gonzales</h2>
      <p> Mark was born in San Francisco, California. He is currently a boxing and fitness coach. 


  <br class="clear" />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
